.Box{
    background-color: aqua;
    /* transform: translate(100px , 100px);
    transform: translatex(100px);
    /* transform: rotate(-40deg); */
    /* transform: scaleX(105);
    transform: matrix3d(23 , 5); */ 
    transform: skew(45deg);
    transform: skew(-45deg);
}