.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid black;
display: flex;
}
.box{
 height: 150px;
    width:  150px;
    margin: 20px;
    border: 2px solid orange;
    background-color:aqua ;
}